version: "2.1"
 
services:

  mysql-server:
    image: mysql-server:$VERSION_MYSQL
    #build: "https://git.scimetis.net/yohan/docker-mysql.git"
    container_name: mysql-server
    restart: always
    networks:
      - mysqlnet
    volumes:
      - /mnt/volumes/mysql-server_data/data:/var/lib/mysql:Z
      - /mnt/volumes/mysql-server_dumps/data:/mnt/dumps:Z
      - ./nettoyer_quotas.sh:/root/nettoyer_quotas.sh:Z
      - ./debian.cnf:/etc/mysql/debian.cnf:Z
 
  cron:
    image: cron:$VERSION_CRON
    #build: "https://git.scimetis.net/yohan/docker-cron.git"
    restart: always
    network_mode: "host"
    volumes:
      - ./crontab:/etc/crontab:Z
 
networks:

  mysqlnet:
    external: true
